.links {
  margin: 0 0.3rem 0 0;
  /*word-break: break-all;*/
  /*word-wrap: break-word;*/
  overflow-wrap: break-word;
  line-height: var(--line-height-lg);
}

.links .links-link:not(:last-child) {
  margin-right: 0.5rem;
}

.links a.links-link sup {
  margin-left: 0.1rem;
}

.links a.links-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
}
