.roster-row-block {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.roster-row {
  cursor: default;
  padding: 0.5rem 0.3rem 0.5rem;
  margin: 0 -0.3rem;

  text-overflow: ellipsis;
  overflow-x: hidden;

  page-break-inside: avoid;
  break-inside: avoid;
}


.roster-row {
  background-color: var(--secondary-color);
}

.roster-row .row-header {
  display: flex;
  /*justify-content: space-between;*/
}

.roster-row .roster-date {
  /*text-transform: capitalize;*/
  font-weight: var(--weight-bold);
  margin-bottom: 0.1rem;
}

.roster-row .roster-text {
  font-weight: var(--weight-bold);
}
.roster-row .roster-desc {
  margin: 0.15rem 0;
}
.roster-row .roster-desc span {
  font-size: 0.85rem;
}

.roster-row .roster-tags {
  font-size: 0.85rem;
  font-style: italic;
  text-transform: lowercase;
  /*margin-right: 0.3rem;*/
  margin: 0 0.3rem 0rem 0;
}

.roster-row .actions {
  display: none;
}

.roster-row.edit .actions {
  display: block;
}

.roster-row .roster-links-block a.links-link {
  font-size: 0.9rem;
}

.btn.action-btn {
  border-bottom: none;
  color: var(--action-btn);
  font-size: 0.9rem;
  margin-right: 0.8rem;
}

.roster-row.marked .roster-date,
.roster-row.marked .roster-text,
.roster-row.marked .roster-desc span,
.roster-row.marked .roster-tags span,
.roster-row.marked .roster-links-block .links {
  background-color: var(--yellow-marker);
}

.roster-row.marked {}

.roster-row.hidden .roster-date,
.roster-row.hidden .roster-text {
  opacity: 0.12;
}
.roster-row.hidden .roster-tags,
.roster-row.hidden .roster-place-block,
.roster-row.hidden .roster-links-block,
.roster-row.hidden .roster-desc {
  display: none;
}

.roster-row.hidden {}
